<!-- index style 2 -->

@media screen and (min-width:400px){
body{
  background-image:url(serpukhov.jpg);
	background-image:max-width:100%; max-height:100%;
	
  background-repeat:no-repeat;
  background-size:cover;
}
}
@media screen and (min-width:400px){	
header {
   text-align:center;
   font-style: Gothic;
   text-decoration: no;
   font-size:50px;
   font-weight:200;
<!--   position:absolute; -->
   margin: -15px;
   padding: 0;
   left: 15%;
   right: 15%;
 }
}
@media screen and (min-width:400px){
header {
  text-shadow: 1px 1px 0 hsl(20,100%,50%),
               2px 2px 0 hsl(20,100%,50%),
               3px 3px 0 hsl(35,100%,50%),
               4px 4px 0 hsl(35,100%,50%),
               5px 5px 0 hsl(45,100%,50%),
               6px 6px 0 hsl(45,100%,55%),
               7px 7px 0 hsl(55,100%,60%),
               8px 8px 0 hsl(55,100%,65%);
            color: hsl(0,100%,40%);
            transition: all 1s;
  }
}
@media screen and (min-width:400px){
header:hover {
            text-shadow: 1px -1px 0 hsl(290,100%,40%),
               2px -2px 0 hsl(290,100%,40%),
               3px -3px 0 hsl(280,100%,60%),
               4px -4px 0 hsl(280,100%,60%),
               5px -5px 0 hsl(270,100%,75%),
               6px -6px 0 hsl(270,100%,80%),
               7px -7px 0 hsl(260,100%,85%),
               8px -8px 0 hsl(260,100%,90%);
            color: hsl(300,100%,30%);
   }
}
@media screen and (min-width:400px){
  .button{
    font-size:10px;
    display:block;
    background: black; 
    color: orange; 
    text-align:center;
    text-decoration: none; 
    border-radius:15px; 
	margin-left:10px;
	margin-top:10px;
	width:70px;
	padding:7px;
	}
}
@media screen and (min-width:400px){
a:hover{
	background:orange;
	color:black;
}	
}	
