body{
	background-color:Silver;
}
h1{
	font-size:65px;
	font-weight:bolder;
	font-stretch:extra-expanded;
	color:orangered;
	margin-left:20px;
	margin-bottom: -30px;
}
p{
	font-size:30px;
	font-weight:bold;
	font-stretch:expanded;
	color:black;
	margin-left:950px;
}
table{
	border-collapse:collapse;
	width: 90%;
	border: 5px solid gray;
    margin:auto;
}
th{
	border: 5px solid gray;
	padding: 15px;
	background-color: Grey;
	font-size:20px;
}
td{
	padding:10px;
	font-size: 20px;
	border: 2px solid gray;
}
td:first-child{
	width: 75%;
}
td:last-child{
	text-align:center;
}
td:hover{
	background:gray;
	color:white;
}